<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Club El Rincon de Cajicá</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- [if lt IE 9]
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-responsive.min.css" )" />
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css" )" />
    <link rel="stylesheet" href="@Url.Content("~/css/base_schemes/white.css" )" />
    <link rel="stylesheet" href="@Url.Content("~/css/color_schemes/green.css" )" />
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css" )" />

    <!-- [if IE 7]>
		<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
		<![endif] -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
    </header>
    <div id="body">
        <!-- Background Slider -->
        <div id="bg_slide">
            <ul>
                <li>
                    <img src="http://placehold.it/1665x945" alt="">
                </li>
                <li>
                    <img src="http://placehold.it/1665x945" alt="">
                </li>
                <li>
                    <img src="http://placehold.it/1665x945" alt="">
                </li>
            </ul>
            <div class="pattern"></div>
        </div>

        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <a class="brand" href="#">
                        <img src="img/logo.png" alt="Round"></a>
                    <div class="right-icons pull-right">
                        <ul>
                            <li class="sound tt" data-container="body" data-toggle="tooltip" data-placement="left" title="Toggle music On/Off">
                                <a id="music_toggle" class="icon-volume-up"></a>
                            </li>
                            <li class="search tt" data-container="body" data-toggle="tooltip" data-placement="left" title="Toggle Search">
                                <a id="search_toggle" class="icon-search"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="active">
                                <a href="index.html"><span>The front page</span>Home</a>
                            </li>
                            <li>
                                <a href="gallery.html"><span>View amazing photos</span>Gallery</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>News and Blog</span>Blog</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="blog.html">Blog Front Page</a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">Blog Single Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about-us.html"><span>Who we are</span>About Us</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Our Pages</span>Pages</a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="typogrid.html">Typography and Grid</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404 Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html"><span>Get in touch</span>Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
                <!-- /.navbar-inner -->
            </div>
            <!-- /.container -->
            <form id="search_form">
                <input type="text" placeholder="Type here and press enter..." />
            </form>
        </div>
        <!-- /.navbar -->

        <div class="default-icons clearfix">
            <ul class="slider-nav">
                <li>
                    <a href="#" class="icon-angle-left rslides_nav rslides1_nav prev"></a>
                </li>
                <li>
                    <a href="#" class="icon-angle-right rslides_nav rslides1_nav next"></a>
                </li>
            </ul>
            <!-- /.slider-nav -->

            <ul class="social-media">
                <li class="tt" data-toggle="tooltip" data-container="body" data-placement="left" title="Find us on Facebook">
                    <a href="#" class="icon-facebook"></a>
                </li>
                <li class="tt" data-toggle="tooltip" data-container="body" data-placement="left" title="Follow us on Twitter">
                    <a href="#" class="icon-twitter"></a>
                </li>
                <li class="tt" data-toggle="tooltip" data-container="body" data-placement="left" title="Find us on LinkedIn">
                    <a href="#" class="icon-linkedin"></a>
                </li>
            </ul>
            <!-- /.social-media -->
        </div>

        <div class="container index">
            <div class="row-fluid">
                <div class="span12">
                    <h1>
                        <mark>Dancing codes makes our clients happier than a pencake.</mark>
                        <mark>Clever art includes beauty and brain.</mark>
                        <mark>Earning skills is started with practice. And practice.</mark>
                        <span>
                            <a href="portfolio.html" class="work">Our Work</a>
                            <a href="#nogo" class="buy">Buy Now</a>
                        </span>
                    </h1>
                </div>
            </div>
            <!-- /.row-fluid -->
        </div>
        <!-- /.container -->

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/responsiveslides.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/hoverdir.js"></script>
        <script src="js/custom.js"></script>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
</body>
</html>
