<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Rincon de Cajicá | Consola de administración</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- [if lt IE 9]
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- Stylesheets -->
    @Styles.Render("~/css/bootstrap.min.css")
    @Styles.Render("~/css/bootstrap-responsive.min.css")
    @Styles.Render("~/css/font-awesome.min.css")
    @Styles.Render("~/css/responsive.css")
    @Styles.Render("~/content/DataTables")


    <!-- [if IE 7]>
		<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
		<![endif] -->
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

    @{
        System.Security.Principal.IIdentity context = Context.User.Identity;
        int user = 0;
        string rol = "U";
        string userName = "";
        bool autenticado = false;

        if (context.IsAuthenticated)
        {
            System.Web.Security.FormsIdentity ci = (System.Web.Security.FormsIdentity)Context.User.Identity;
            string[] userRole = ci.Ticket.UserData.Split('|');
            user = int.Parse(userRole[0]);
            rol = userRole[1];
            userName = ci.Name;
            autenticado = (user != null ? true : false);
        }
    }

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner navbar-fixed-top">
            <a class="brand" href="#">Rincón de Cajicá</a>
            <ul class="nav pull-right">
                <li><a href="javascript:void(0);">@userName</a></li>
                <li><a href="@Url.Action("logout", "security")">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="cont-outer">
            <div class="row-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /.row-fluid -->
    </div>
    <!-- /.container -->

    <!-- Scripts -->

    @Scripts.Render("~/scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/bootstrap.min.js")
    @Scripts.Render("~/js/responsiveslides.min.js")
    @Scripts.Render("~/js/jquery.cookie.js")
    @Scripts.Render("~/js/jquery.isotope.min.js")
    @Scripts.Render("~/js/magnific.js")
    @Scripts.Render("~/js/hoverdir.js")
    @Scripts.Render("~/js/custom.js")
    @Scripts.Render("~/bundles/DataTables")
</body>
</html>
