@model IEnumerable<Orkidea.RinconCajica.Entities.FileUpload>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>
    <h2 >Archivos subidos</h2>

    <p><a href="@Url.Action("Create")" class="btn btn-primary">Nuevo archivo</a></p>
    <table class="table table-bordered table-striped table_vam" id="dt_gal">
        <thead>
            <tr>

               @* <th>Nombre
                </th>*@
                <th>Descripción
                </th>
                <th>Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.fileName)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    @*<td><a href="@Url.Content("~/UploadedFiles/" + item.fileName)" target="_blank">Ver mas</a></td>*@
                    <td><a href="@Url.Action("Details", new { id = item.id })" target="_blank">Ver mas</a></td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.id })" title="Eliminar"><i class="icon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#dt_gal').dataTable();
</script>
