@model IEnumerable<Orkidea.RinconCajica.webFront.Models.vmSportBranch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>

    <h2>Ramas de deportes</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Nueva rama deportiva</a>
    </p>
    <table class="table table-bordered table-striped table_vam" id="dt_gal">
        <thead>
            <tr>

                <th>Rama</th>
                <th>Deporte</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreDeporte)</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>|                    
                            <a href="@Url.Action("Delete", new { id = item.id })" title="Eliminar"><i class="icon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#dt_gal').dataTable();
</script>
