@model IEnumerable<Orkidea.RinconCajica.Entities.InstitutionalEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>

    <h2>Calendario de eventos institucionales</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Nuevo evento</a>
    </p>
    <table class="table table-bordered table-striped table_vam" id="dt_gal">
        <thead>
            <tr>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Evento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var fechaIni = String.Format("{0: yyyy/MM/dd}", item.inicio);
                var fechaFin = String.Format("{0: yyyy/MM/dd}", item.fin);
                <tr>                    
                    <td>@fechaIni</td>
                    <td>@fechaFin</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreEvento)</td>                    
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>|                    
                            <a href="@Url.Action("Delete", new { id = item.id })" title="Eliminar"><i class="icon-trash"></i></a>|
                        <a href="@Url.Action("ContestReport", new { id = item.id })" title="Imprimir"><i class="icon-print"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $('#dt_gal').dataTable({
        "aaSorting": [[1, 'asc']]
    });
</script>
