@model IEnumerable<Orkidea.RinconCajica.webFront.Models.vmSportSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>

    <h2>Calendario de eventos deportivos</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Nuevo evento</a>
    </p>
    <table class="table table-bordered table-striped table_vam" id="dt_gal">
        <thead>
            <tr>

                <th>Deporte</th>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Competencia</th>
                <th>Categoria</th>
                <th>Modalidad</th>
                <th>Rama</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var fechaIni = String.Format("{0: dd/MM/yyyy}", item.inicio);
                var fechaFin = String.Format("{0: dd/MM/yyyy}", item.fin);
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombreDeporte)</td>
                    <td>@fechaIni</td>
                    <td>@fechaFin</td>
                    <td>@Html.DisplayFor(modelItem => item.competencia)</td>
                    <td>@Html.DisplayFor(modelItem => item.categoria)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreModalidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreRama)</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>|                    
                            <a href="@Url.Action("Delete", new { id = item.id })" title="Eliminar"><i class="icon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $('#dt_gal').dataTable();
</script>
