@model IEnumerable<Orkidea.RinconCajica.webFront.Models.vmSportSchedule>

@{
    ViewBag.Title = "IndexNextSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Security.Principal.IIdentity context = Context.User.Identity;
    int user = 0;
    string rol = "U";
    string userName = "";
    bool autenticado = false;

    if (context.IsAuthenticated)
    {
        System.Web.Security.FormsIdentity ci = (System.Web.Security.FormsIdentity)Context.User.Identity;
        string[] userRole = ci.Ticket.UserData.Split('|');
        user = int.Parse(userRole[0]);
        rol = userRole[1];
        userName = ci.Name;
        autenticado = (user != null ? true : false);
    }
}
<script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>

<div id="bg_slide">
    <ul>
        @{Html.RenderAction("getHomeSlider", "HomeSlider");}
    </ul>
    <div class="pattern"></div>
</div>

<div class="default-icons clearfix">
    <ul class="slider-nav">
        <li>
            <a href="#" class="icon-angle-left rslides_nav rslides1_nav prev"></a>
        </li>
        <li>
            <a href="#" class="icon-angle-right rslides_nav rslides1_nav next"></a>
        </li>
    </ul>
    S
    <!-- /.slider-nav -->


</div>

<div class="container">
    <div class="header-field">
        <div class="page-title pull-left">
            <h3>Proximos eventos de @ViewBag.titulo</h3>
        </div>
    </div>
    <!-- /.header-field -->
</div>
<!-- /.container -->

<div class="container">
    <div class="cont-outer">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="span6">                    
                    @foreach (var item in Model)
                    {                        
                        <div class="row-fluid">
                            <div class="span4">
                                <a href="javascript:void(0)" class="zoomImage">
                                    <img src="@item.poster" width="300" title="Ampliar" /></a>
                            </div>
                            <div class="span8">
                                <div class="row.fluid">
                                    <span style="font-size: 18px"><strong>@Html.DisplayFor(modelItem => item.competencia)</strong></span>
                                </div>
                                <div class="row.fluid">
                                    @{
                        string inicio = item.inicio.ToString("yyyy-MM-dd");                            
                                    }
                                    <span>Desde: </span>@Html.DisplayFor(modelItem => inicio)

                                    @if (item.fin != item.fin)
                                    {
                                        string fin = ((DateTime)item.fin).ToString("yyyy-MM-dd");
                                        <span>Hasta: </span> @Html.DisplayFor(modelItem => fin)
                                    }

                                </div>
                                @if (!item.aireacion)
                                {
                                    <div class="row.fluid">
                                        <span>Categorias: </span>@Html.DisplayFor(modelItem => item.categoria)
                                    </div>
                                    <div class="row.fluid">
                                        <span>Modalidad: </span>@Html.DisplayFor(modelItem => item.nombreModalidad)
                                    </div>
                                    <div class="row.fluid">
                                        <span>Rama: </span>@Html.DisplayFor(modelItem => item.nombreRama)
                                    </div>
                                
                                    <div class="row.fluid">
                                        @if (item.visible)
                                        {
                                            <div class="span4">
                                                <a href="@Url.Action("join", "JoinContest", new { id = item.id })" class="btn">Inscribirse</a>
                                            </div>
                                        }
                                        @if (item.urlPagina != null)
                                        {
                                            <div class="span6">
                                                <a href="@item.urlPagina" class="btn" target="_blank">Ver más</a>
                                            </div>
                                        }
                                    </div>                                                                   
                                }
                            </div>
                        </div>                       
                        <br />
                        
                    }
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div id="myCarousel1" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                @foreach (Orkidea.RinconCajica.webFront.Models.vmSportSchedule item in Model)
                                {
                                    if (item == Model.First())
                                    {
                                        foreach (Orkidea.RinconCajica.Entities.SportSchedule item2 in item.lsOtrosEventos)
                                        {                                           
                                            <div class="item">
                                                <a href="@item2.urlPagina"><img src="@item2.poster" alt="" width="400px" /></a> 
                                                <div class="carousel-caption">
                                                    @*<h4>@string.Format("{0}, {1} - {2}",item2.inicio.ToString("yyyy-MM-dd"), item2.competencia, ViewBag.titulo) </h4>*@
                                                    <p>@string.Format("{0}, {1}",item2.inicio.ToString("yyyy-MM-dd"), item2.competencia)</p>
                                                </div>
                                            </div>                                            
                                        }
                                    }
                                }
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row-fluid -->


    </div>
    <!-- /.cont-outer -->
</div>

<div class="modal hide fade" id="myModal">
    @*<div class="modal-header">
        <button class="close" data-dismiss="modal">X</button>
        <h3 id="msgHeader"></h3>
    </div>*@
    <div class="modal-body" id="msgBody" style="text-align: center; min-height: 505px">
        <img src="#" id="poster" alt="Poster evento" title="Poster evento" style="width: 500px;" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal" id="btnFail">Cerrar</a>
    </div>
</div>
<!-- /modal -->
<script>
    $('.zoomImage').click(function () {
        var imgNode = $(this).find('img');
        var imgSource = imgNode.attr("src");

        var poster = $('#poster')[0];
        $(poster).attr("src", imgSource);

        $('#myModal').modal('show');
    });

    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>
