@model IEnumerable<Orkidea.RinconCajica.Entities.Project>

@{
    ViewBag.Title = "Sistema de gestión - Lista de proyectos";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>Sistema de gestión - Lista de proyectos</h2>
@Html.ActionLink("Crear nuevo", "Create", null, new{ @class= "btn btn-info"}) | @Html.ActionLink("Volver al home","Index", "Home")     

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table_vam" id="dt">
            <thead>
                <tr>                    
                    <th>Nombre del proceso</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>            
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                            @Html.HiddenFor(modelItem => item.id)                            
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Project", new { id = item.id })" class="sepV_a" title="Ver"><i class="icon-eye-open"></i></a>
                            <a href="@Url.Action("Edit", "Project", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>                            
                            <a href="@Url.Action("Delete", "Project", new { id = item.id })" title="Eliminar"><i class="icon-trash"></i></a>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#dt').dataTable();
</script>