@model IEnumerable<Orkidea.RinconCajica.webFront.Models.vmMessaging>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>

    <h2>Asignar mensajero</h2>    
    <table class="table table-bordered table-striped table_vam" id="dt_gal">
        <thead>
            <tr>
                <th>Creado en</th>                
                <th>Creado por</th>
                <th>Dependencia Origen</th>
                <th>Dependencia Destino</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.fecha.ToString("yyyy-MM-aa hh-mm")</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreAutor)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreDependenciaOrigen)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreDependenciaDestino)</td>
                    <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                    <td>
                        <a href="@Url.Action("SelectMessenger", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>|                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#dt_gal').dataTable();

</script>
