@model IEnumerable<Orkidea.RinconCajica.Entities.HomeSlider>
@{
    Layout = null;

    bool mostrarCuadroTexto = false;

    foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.textoSlider))
        {
            mostrarCuadroTexto = true;
        }
    }
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Club El Rincon de Cajicá</title>
    <meta name="description" content="Club el Rincón de Cajicá - Golf, Tenis, Natacion, Futbol, Gimnasio. Eventos y torneos empresariales y sociales">
    <meta name="author" content="Orkidea S.A.S http://www.orkidea.co">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- [if lt IE 9]
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-responsive.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/base_schemes/white.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/color_schemes/green.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")" />

    <!-- [if IE 7]>
		<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
		<![endif] -->

    @*<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>*@
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300' rel='stylesheet' type='text/css'>

    @{
        System.Security.Principal.IIdentity context = Context.User.Identity;
        int user = 0;
        string rol = "U";
        string userName = "";
        string idSocio = "";
        string titular = "";
        string idAccion = "";
        bool autenticado = false;

        if (context.IsAuthenticated)
        {
            System.Web.Security.FormsIdentity ci = (System.Web.Security.FormsIdentity)Context.User.Identity;
            string[] userRole = ci.Ticket.UserData.Split('|');
            user = int.Parse(userRole[0]);
            rol = userRole[1];

            if (rol == "S")
            {
                idSocio = userRole[2];
                titular = userRole[3];
                idAccion = userRole[4];
            }

            userName = ci.Name;
            autenticado = (user != null ? true : false);
        }
    }

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47044449-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div id="body">
        <!-- Background Slider -->
        <div id="bg_slide">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <img src="@Url.Content(item.urlImagen)" alt="">
                    </li>
                    
                }
            </ul>
            <div class="pattern"></div>
        </div>

        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <a class="brand" href="@Url.Action("Index", "Home")">
                        <img src="img/logo.png" alt="Round"></a>
                    @*<div class="right-icons pull-right">
                        <ul>
                            <li class="search tt" data-container="body" data-toggle="tooltip" data-placement="left" title="Zona de usuarios">
                                <a id="search_toggle" class="icon-user"></a>
                            </li>
                        </ul>
                    </div>*@

                    <div class="nav-collapse">
                        <ul class="nav pull-right" style="font-family: 'Roboto'">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"><span style="color: white;">.</span>Inicio</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>El club<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Details", "Page", new { id = "AcercaDe" })">Nuestra sede</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Quienes somos</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Historia" })">Historia</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Mision" })">Misión, Visión, Valores</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Restaurantes</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Details", "Page", new { id = "SedeComedorPrincipal" })">Comedor principal y Terraza</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "TabernaMixta" })">Taberna</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "TerrazaJuvenilYHeladeria" })">Terraza juvenil y Heladería</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "TerrazaJuvenilYHeladeria" })">Cafetería Piscina</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "SedeRefugioTenis1Y2" })">Refugio Tenis Uno y Dos</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Áreas de servicio</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Details", "Page", new { id = "VestierDamasYCaballeros" })">Vestier Damas y Caballeros</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "VestierNinosYninas" })">Vestier Niñas y Niños</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "ZonaInfantilYJuegos" })">Zona Infantil</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "OtrosServicios" })">Otros Servicios</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>Deportes<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#">Golf</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Details", "Page", new { id = "Hoyo1" })">Campo</a></li>
                                                <li><a href="@Url.Action("Details", "Page", new { id = "EscuelasDeportivasDeGolf" })">Escuelas</a></li>
                                                <li><a href="@Url.Action("IndexNextSchedule", "SportSchedule", new { id = "Golf" })">Torneos</a></li>
                                                @*<li><a href="@Url.Action("Details", "Page", new { id = "TorneosGolf" })">Torneos</a></li>*@
                                                <li><a href="@Url.Action("Details", "Page", new { id = "RankingGolf" })">Ranking</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Tenis</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Details", "Page", new { id = "Tenis" })">Campos</a></li>
                                                <li><a href="@Url.Action("Details", "Page", new { id = "EscuelaDeportivaTenis" })">Escuelas</a></li>
                                                <li><a href="@Url.Action("IndexNextSchedule", "SportSchedule", new { id = "Tenis" })">Torneos</a></li>
                                                @*<li><a href="@Url.Action("Details", "Page", new { id = "TorneosTenis" })">Torneos</a></li>*@
                                                <li><a href="@Url.Action("Details", "Page", new { id = "RankingTenis" })">Ranking</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Natación</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Details", "Page", new { id = "NatacionPiscina" })">Piscina</a></li>
                                                <li><a href="@Url.Action("Details", "Page", new { id = "EscuelaDeportivasNatacion" })">Escuelas</a></li>
                                                <li><a href="@Url.Action("Details", "Page", new { id = "EquipoDeNatacion" })">Equipo de Natación</a></li>
                                                <li><a href="@Url.Action("IndexNextSchedule", "SportSchedule", new { id = "Natacion" })">Torneos</a></li>
                                                @*<li><a href="@Url.Action("Details", "Page", new { id = "RankingNatacion" })">Ranking</a></li>*@
                                                @*<li><a href="#">Ranking</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Futbol</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Details", "Page", new { id = "Futbol" })">Campo</a></li>
                                                <li><a href="@Url.Action("Details", "Page", new { id = "EscuelaDeportivaFutbol" })">Escuelas</a></li>
                                                <li><a href="@Url.Action("IndexNextSchedule", "SportSchedule", new { id = "Futbol" })">Eventos</a></li>
                                                @*<li><a href="#">Ranking</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">C.E.F.</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Details", "Page", new { id = "Gimnasio" })">Instalaciones</a></li>
                                                <li><a href="@Url.Action("IndexNextSchedule", "SportSchedule", new { id = "Gimnasio" })">Eventos C.E.F</a></li>
                                                @*<li><a href="@Url.Action("Details", "Page", new { id = "TorneosCef" })">Torneos</a></li>*@
                                                @*<li><a href="#">Ranking</a></li>*@
                                            </ul>
                                        </li>
                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>Eventos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("IndexNextSchedule", "InstitutionalEvent")">Eventos institucionales</a></li>
                                    @*<li><a href="@Url.Action("Details", "Page", new { id = "EventosInstitucionalesCalendario2014" })">Eventos institucionales</a></li>*@
                                    <li class="dropdown-submenu">
                                        <a href="#">Salones</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Details", "Page", new { id = "ComedorPrincipal" })">Comedor principal y Terraza</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Taberna" })">Taberna</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Reservado1" })">Reservado 1</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Reservado2" })">Reservado 2</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "ZonaInfantil" })">Zona Infantil y Juvenil</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            @if (!context.IsAuthenticated)
                            {
                                <li>
                                    <a id="search_toggle"><span style="color: white;">.</span>Socios</a>
                                </li>
                            }
                            else
                            {
                                if (ViewBag.menu == "Socios")
                                {
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>Socios<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @if (rol == "S")
                                        {
                                            if (titular == "T")
                                            {
                                            <li class="pepa"><a href="@Url.Action("Details", "AccountSummary", new { id = idAccion })">Extractos y Consumos</a></li>                                            
                                            }
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Socios" })">Documentos y circulares</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Canjes" })">Canjes</a></li>                                            
                                            <li><a href="@Url.Action("Edit", "ClubPartner", new { id = idSocio })">Actualizacion de datos</a></li>                                            
                                            @*<li class="dropdown-submenu">
                                                <a href="#">Reservas</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Deportes</a></li>
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Canchas de Tenis</a></li>
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Eventos Institucionales</a></li>
                                                </ul>
                                            </li>*@
                                            <li class="divider"></li>
                                        }
                                        <li class="nav-header">Cuenta</li>
                                        <li class="lnkCambioContrasena"><a href="javascript:void(0);">Cambiar Clave</a></li>
                                        <li class="pepa"><a href="@Url.Action("Logout", "Security")">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                                }
                                else
                                {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>Socios<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @if (rol == "A" || rol == "S")
                                        {
                                            if (titular == "T")
                                            {
                                            <li class="pepa"><a href="@Url.Action("Details", "AccountSummary", new { id = idAccion })">Extractos y Consumos</a></li>                                            
                                            }
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Socios" })">Documentos y circulares</a></li>
                                            <li><a href="@Url.Action("Details", "Page", new { id = "Canjes" })">Canjes</a></li>                                            
                                            <li><a href="@Url.Action("Edit", "ClubPartner", new { id = idSocio })">Actualizacion de datos</a></li>                                            
                                            @*<li class="dropdown-submenu">
                                                <a href="#">Reservas</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Deportes</a></li>
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Canchas de Tenis</a></li>
                                                    <li><a href="@Url.Action("Details", "Page", new { id = "Comingsoon" })">Eventos Institucionales</a></li>
                                                </ul>
                                            </li>*@
                                            <li class="divider"></li>                                     
                                        }
                                        <li class="nav-header">Cuenta</li>
                                        <li class="lnkCambioContrasena"><a href="javascript:void(0);">Cambiar Clave</a></li>
                                        <li class="pepa"><a href="@Url.Action("Logout", "Security")">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                                }
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span>Fundación<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Details", "Page", new { id = "Fundacion" })">Casa Vieja</a></li>
                                    <li><a href="@Url.Action("Details", "Page", new { id = "FundacionGradoQuinto" })">Actividades</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")"><span style="color: white;">.</span>Contacto</a>
                            </li>
                            @if (rol == "A" || rol == "C" || rol == "E")
                            {
                                <li><a href="@Url.Action("Index", "homeSGC")"><span style="color: white;">.</span>Intranet</a></li>
                            }
                            @if (context.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color: white;">.</span><strong style="color: yellowgreen">@userName</strong><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="lnkCambioContrasena"><a href="javascript:void(0);">Cambiar Clave</a></li>
                                        <li class="pepa"><a href="@Url.Action("Logout", "Security")">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
                <!-- /.navbar-inner -->
            </div>
            <!-- /.container -->
            <form id="search_form">
                @if (autenticado == false)
                {
                    <input type="text" placeholder="Usuario" id="txtUsuario" />
                    <input type="password" placeholder="Contraseña" id="txtContrasena" />
                    <button type="button" class="btn btn-default" id="btnLogin">Ingresar</button>
                }
                else
                {
                    <span style="color: white;"><strong>Bienvenido @userName | </strong></span>
                    <a href="@Url.Action("Logout", "Security")" style="color: white;"><strong>Cerrar sesión | </strong></a>                    
@*<a href="javascript:void(0);" style="color: white;" id="lnkCambioContrasena"><strong>Cambiar contraseña</strong></a>*@                    
                }
            </form>
        </div>
        <!-- /.navbar -->

        <div class="default-icons clearfix">
            <ul class="slider-nav">
                <li>
                    <a href="#" class="icon-angle-left rslides_nav rslides1_nav prev"></a>
                </li>
                <li>
                    <a href="#" class="icon-angle-right rslides_nav rslides1_nav next"></a>
                </li>
            </ul>
            <!-- /.slider-nav -->

        </div>

        <div class="container index">
            <div class="row-fluid">
                <div class="span12">
                    @if (mostrarCuadroTexto)
                    {
                        <h1>
                            @foreach (var item in Model)
                            {
                                if (!string.IsNullOrEmpty(item.textoSlider))
                                {
                            
                                <mark>
                                    @item.textoSlider

                                    @if (!string.IsNullOrEmpty(item.textoBoton1))
                                    {
                                        <span style='padding-top: 50px; width: 500px;'><a href='@item.urlBoton1' class='work'>@item.textoBoton1</a>
                                            @if (!string.IsNullOrEmpty(item.textoBoton2))
                                            {
                                                <a href="@item.urlBoton2" class='work'>@item.textoBoton2</a>
                                            }
                                        </span>   
                                    }
                                </mark>
                            
                                }
                            }
                        </h1>                   
                    }
                </div>
            </div>
            <!-- /.row-fluid -->

        </div>
        <!-- /.container -->
        <div class="footer">
            <span>Cajicá, Colombia. Km. 26 Carretera Central Norte Via Sopó .::. Tel: 866 4901 Ext 100 .::. <a href="@Url.Action("contact")" style="color:white;" >Contactenos</a> .::. <a href="@Url.Action("Details", "Page", new { id = "legal" })" style="color:white;" >Política de privacidad</a></span>
        </div>
        <div id="logoutModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Cambiar contraseña</h3>
            </div>
            <div class="modal-body">
                <label>Ingrese la nueva contraseña</label>
                <input type="password" placeholder="Nueva contraseña" id="txtNuevaClave" />
                <label>Confirme la contraseña</label>
                <input type="password" placeholder="Nueva contraseña" id="txtNuevaClaveConfirma" />
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-success" id="btnCambiarContrasena">Cambiar clave</a>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>

        <!-- Scripts -->
        <script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/js/responsiveslides.min.js")"></script>
        <script src="@Url.Content("~/js/jquery.cookie.js")"></script>
        <script src="@Url.Content("~/js/jquery.isotope.min.js")"></script>
        <script src="@Url.Content("~/js/magnific.js")"></script>
        <script src="@Url.Content("~/js/hoverdir.js")"></script>
        <script src="@Url.Content("~/js/custom.js")"></script>
        <script>
            window.jQuery || document.write('<script src="@Url.Content("~/js/jquery.min.js")">\x3C/script>')

            $('#btnLogin').click(function () {
                var url = document.URL;

                var sPageURL = window.location.search.substring(1);
                var sURLVariables = sPageURL.split('&');
                for (var i = 0; i < sURLVariables.length; i++) {
                    var sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] == "ReturnUrl") {
                        var url = sParameterName[1].replace('%2f', '');
                    }
                }

                var usuario = $('#txtUsuario').val();
                var contrasena = $('#txtContrasena').val();

                if (usuario != '' && contrasena != '') {

                    var datos = {
                        UserName: usuario,
                        Password: contrasena
                    };

                    $.getJSON("@Url.Action("barLogin", "Security")", datos, res);

                    function res(data) {
                        if (data == "OK") {
                            window.open(url, '_self');
                        }
                    }
                }
            });

            $('.lnkCambioContrasena').click(function () {
                $('#logoutModal').modal()
            });

            $('#btnCambiarContrasena').click(function () {
                var clave = $('#txtNuevaClave').val();
                var url = document.URL;

                if (clave != '' && clave == $('#txtNuevaClaveConfirma').val()) {
                    var datos = {
                        id: '@user',
                        usuario: '@userName',
                        contrasena: clave,
                        idRol: '@rol'
                    };

                    $.getJSON("@Url.Action("BarChangePassword", "Security")", datos, res);

                    function res(data) {
                        if (data == "OK") {
                            window.open(url, '_self');
                        }
                    }
                }
            });

            $(document).ready(function () {
                var sPageURL = window.location.search.substring(1);
                var sURLVariables = sPageURL.split('&');
                for (var i = 0; i < sURLVariables.length; i++) {
                    var sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] == "ReturnUrl") {
                        $("#search_form").addClass("show");
                    }
                }
            });


        </script>
    </div>
</body>
</html>
