@model Orkidea.RinconCajica.webFront.Models.vmPage

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}


@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/wysihtml5/lib/css/bootstrap.min.css")"></link>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/wysihtml5/lib/css/prettify.css")"></link>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/wysihtml5/src/bootstrap-wysihtml5.css")"></link>

<script src="@Url.Content("~/wysihtml5/lib/js/wysihtml5-0.3.0.js")"></script>
<script src="@Url.Content("~/wysihtml5/lib/js/jquery-1.7.2.min.js")"></script>
<script src="@Url.Content("~/wysihtml5/lib/js/prettify.js")"></script>
<script src="@Url.Content("~/wysihtml5/lib/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/wysihtml5/src/bootstrap-wysihtml5.js")"></script>*@
@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<div class="row-fluid" style="padding-top: 50px;">
    <div class="span2">
        <div class="span12">
            <ul class="nav nav-list well span12">
                <li class="nav-header">Menú</li>
                <li><a href="@Url.Action("Index", "backend")">Inicio</a></li>
                <li><a href="@Url.Action("Index", "FileUpload")">Medios</a></li>
                <li><a href="@Url.Action("Index", "HomeSlider")">Página de inicio</a></li>
                <li class="active"><a href="@Url.Action("Index", "Page")">Páginas</a></li>
                <li><a href="@Url.Action("Index", "SideBar")">Side Bars</a></li>
                <li class="nav-header">Deportes</li>                
                <li><a href="@Url.Action("Index", "SportCategory")">Categorías</a></li>
                <li><a href="@Url.Action("Index", "SportModality")">Modalidades</a></li>
                <li><a href="@Url.Action("Index", "SportBranch")">Ramas</a></li>
                <li><a href="@Url.Action("Index", "SportSchedule")">Calendario</a></li>
            </ul>
        </div>
    </div>
    <div class="span10">

        <div class="span12 well" style="min-height: 800px;">
            <h2 style="text-align: center;">Editar pagina</h2>

            @using (Html.BeginForm())
            {
                <div class="row-fluid">
                    <div class="span7">
                        <label>Texto principal</label>
                        @Html.TextBoxFor(c => c.titulo, new { @class = "span12" })
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Contenido público</label>
                        @Html.TextAreaFor(c => c.contenidoPublico, new { @class = "textarea span12", style = "width: 810px; height: 200px" })
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Contenido privado</label>
                        @Html.TextAreaFor(c => c.contenidoPrivado, new { @class = "textarea span12", style = "width: 810px; height: 200px" })
                    </div>
                </div>    
            
                <div class="row-fluid">
                    <div class="span12">
                        <label>Side bar<span class="f_req">*</span></label>
                        @Html.DropDownListFor(c => c.idSideBar, new SelectList(Model.lsSideBar, "id", "nombre"), new { @class = "span10" })
                    </div>
                </div>
            
                <div class="row-fluid">
                    <div class="span2">
                        <input type="submit" value="Guardar" id="btnSubmit" class="btn btn-info" />
                    </div>
                </div>    
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script>
    //$('.textarea').wysihtml5();

    $('.textarea').wysihtml5({
        "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": true, //Button which allows you to edit the generated HTML. Default false
        "link": true, //Button to insert a link. Default true
        "image": true, //Button to insert an image. Default true,
        "color": false //Button to change color of font  
    });
</script>*@

<script>
    tinymce.init({ selector: 'textarea', plugins: "code, image, link" });
</script>
