@model IEnumerable<Orkidea.RinconCajica.Entities.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";

    string paginasNoBorrables = ViewBag.paginasNoBorrables;
    
}

@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div class="row-fluid" style="padding-top: 50px;">
    <div class="span2">
        <div class="span12">
            <ul class="nav nav-list well span12">
                <li class="nav-header">Menú</li>
                <li><a href="@Url.Action("Index", "backend")">Inicio</a></li>
                <li><a href="@Url.Action("Index", "FileUpload")">Medios</a></li>
                <li><a href="@Url.Action("Index", "HomeSlider")">Página de inicio</a></li>
                <li class="active"><a href="@Url.Action("Index", "Page")">Páginas</a></li>
                <li><a href="@Url.Action("Index", "SideBar")">Side Bars</a></li>
                <li class="nav-header">Deportes</li>                
                <li><a href="@Url.Action("Index", "SportCategory")">Categorías</a></li>
                <li><a href="@Url.Action("Index", "SportModality")">Modalidades</a></li>
                <li><a href="@Url.Action("Index", "SportBranch")">Ramas</a></li>
                <li><a href="@Url.Action("Index", "SportSchedule")">Calendario</a></li>
            </ul>
        </div>
    </div>
    <div class="span10">

        <div class="span12 well" style="min-height: 800px;">
            <h2 style="text-align: center;">Páginas</h2>
            <p>
                <a href="@Url.Action("Create")" class="btn btn-primary">Nueva página</a>
            </p>
            <div class="row-fluid">
                <table class="table table-bordered table-striped table_vam" id="dt_gal">
                    <thead>
                        <tr>

                            <th>Titulo</th>
                            <th>URL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.titulo)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.id })" class="sepV_a" title="Editar">Ver</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>

                                    @if (!paginasNoBorrables.Contains(item.id))
                                    {                               
                                        <span> | </span><a href="@Url.Action("Delete", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-trash"></i></a>                                    
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    $('#dt_gal').dataTable();
</script>
