@model Orkidea.RinconCajica.webFront.Models.vmProcessDocument

@{
    ViewBag.Title = "Edición de documentos de procesos";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@using (Html.BeginForm("Create", "ProcessDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Sistema de gestión - Edición de documentos de procesos</h2>

    @Html.ValidationSummary(true)

    <div class="row-fluid">
        @Html.LabelFor(model => model.descripcion)
        @Html.TextBoxFor(model => model.descripcion, new { @class = "span4" })
        @Html.ValidationMessageFor(model => model.descripcion)
    </div>
    <div class="row-fluid">
        @Html.LabelFor(model => model.ruta)
        @Html.TextBoxFor(model => model.ruta, new { @class = "span4" })
        @Html.ValidationMessageFor(model => model.ruta)
    </div>
    <div class="row-fluid">
        @Html.LabelFor(model => model.idProceso)
        @Html.DropDownListFor(model => model.idProceso, new SelectList(Model.lstProcess, "id", "nombre"), new { @class = "span4" })
        @Html.ValidationMessageFor(model => model.idProceso)
    </div>
    <div class="row-fluid">
        @Html.LabelFor(model => model.idTipoDocumento)
        @Html.DropDownListFor(model => model.idTipoDocumento, new SelectList(Model.lstDocType, "id", "nombre"))
        @Html.ValidationMessageFor(model => model.idTipoDocumento)
    </div>    

    <div id="fileDiv" style="display: none;"></div>
    <p>
        <input type='submit' id='upload-files' value=' Guardar ' class="btn btn-primary" />
        | @Html.ActionLink("Volver a la lista", "List")
    </p>
    <span>@ViewBag.mensaje</span>
}
