@model Orkidea.RinconCajica.Entities.CorrespondenceIn

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Scripts.Render("~/scripts/jquery-1.9.1.min.js")

@using (Html.BeginForm())
{
    <h2>Sistema de mensajeria - Entrada de correspondencia</h2>

    @Html.ValidationSummary(true)


    <div class="row-fluid">

        <label class="span12">Remitente <span style="color: red; display: none;">Requerido</span></label>
        @Html.DropDownListFor(model => model.remitente, new SelectList(Enumerable.Empty<SelectListItem>()), " ", new { @class = "form-control required", style = "max-width:100%" })        
    </div>
    <div class="row-fluid">
        <label class="span12">Dependencia <span style="color: red; display: none;">Requerido</span></label>
        @Html.DropDownListFor(model => model.dependencia, new SelectList(Enumerable.Empty<SelectListItem>()), " ", new { @class = "form-control required", style = "max-width:100%" })        
    </div>
    <div class="row-fluid">
        <label class="span12">Descripción <span style="color: red; display: none;">Requerido</span></label>
        @Html.TextAreaFor(c => c.descripcion, new { @class = "span12 required" })        
    </div>
    <p>
        <input type="submit" value="Guardar registro" class="btn btn-success" id="btnGuardar" />        
    </p>

}

<script>
    $(document).ready(function () {
        var remitente = $("#remitente");
        var dependencia = $("#dependencia");

        remitente.empty();
        dependencia.empty();

        remitente.append(
                $('<option/>', {
                    value: ''
                }).html('')
            );

        dependencia.append(
                    $('<option/>', {
                        value: ''
                    }).html('')
                );
        $.getJSON('@Url.Action("GetAsyncSuppliers", "Supplier")', function (result) {
            $(result).each(function () {
                remitente.append(
                    $('<option/>', {
                        value: this.id
                    }).html(this.nombre)
                );
            });
        });


        $.getJSON('@Url.Action("GetAsyncDependences", "Dependence")', function (result) {
            $(result).each(function () {
                dependencia.append(
                    $('<option/>', {
                        value: this.id
                    }).html(this.nombre)
                );
            });
        });
    });

    $('#btnGuardar').click(function () {
        var socio = '@ViewBag.socio';

        var requeridos = $('.required');
        var falla = 0;

        $(requeridos).each(function () {

            var padre = this.parentNode;
            var etiqueta = $(padre).find('label')
            var validador = etiqueta.find('span')[0];

            if ($(this).val() == "" || $(this).val() == "0") {
                $(validador).css("display", "inline")
                falla++
            }
            else {
                $(validador).css("display", "none")
            }
        });

        if (falla > 0) {
            return false;
        }
    });
</script>