@model Orkidea.RinconCajica.webFront.Models.vmMessageBitacore

@{
    ViewBag.Title = "GeneraReporteGeneral";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

@Styles.Render("~/css/datepicker.css")
@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/bootstrap-datepicker.js")

<h2>Sistema de mensajeria - Envío de documentos</h2>
<div class="row-fluid">
    <div class="span2">
        <label class="span12">Fecha recibido </label>
        @Html.TextBoxFor(c => c.fecha, new { @class = "span12 fecha" })
    </div>
    <div class="span2">
        <label class="span12">Prioridad </label>
        @Html.DropDownListFor(c => c.prioridad, new SelectList(Model.lsPrioridad, "key", "value"),string.Empty, new { @class = "span12" })        
    </div>    
    <div class="span3">
        <label class="span12">Tipo</label>
        @Html.DropDownListFor(c => c.descripcionCorta, new SelectList(Model.lsTipoDoc, "key", "value"), new { @class = "span12 req" })
    </div>
    <div class="span2">
        <label class="span12">Fecha limite </label>
        @Html.TextBoxFor(c => c.fechaLimite, new { @class = "span12 fecha" })
    </div>
    <div class="span3">               
        <div class="checkbox">            
            <label class="span12">Entrega por mensajería @Html.CheckBoxFor(c => c.entregaPersonal)</label>
        </div>       
        <br /> 
        <div class="checkbox">            
            <label class="span12">Solo pendientes de entrega<input type ="checkbox" id="verPendientes"/> </label>
        </div>        
    </div>
</div>
<p>
    <input type="button" value="Generar" class="btn btn-success" id="btnGenerar" />
</p>

<script >
    $('.fecha').datepicker({
        format: 'yyyy-mm-dd', setDate: new Date(),
    });

    $(document).ready(function () {
        $('.fecha').val("");
    });

    $('#btnGenerar').click(function () {
        var fecha = $('#fecha').val();
        var prioridad = $('#prioridad').val();
        var descripcionCorta = $('#descripcionCorta').val();
        var fechaLimite = $('#fechaLimite').val();
        var entregaPersonal = $('#entregaPersonal').prop('checked');
        var verPendientes = $('#verPendientes').prop('checked');

        var parametro = fecha + '|' + prioridad + '|' + descripcionCorta + '|' + fechaLimite + '|' + entregaPersonal + '|' + verPendientes;

        var link = '@Url.Action("ReporteGeneral", new { id = "-1" })';
        link = link.replace("-1", parametro);

        window.location.href = link;        
    });
</script>