@model IEnumerable<Orkidea.RinconCajica.Entities.MessageActor>
@{
    ViewBag.Title = "IndexDependencias";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")

<div>
    <h2>Dependencias de mensajeria</h2>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Nueva dependencia</a> | <a href="@Url.Action("Create")" class="btn btn-primary">Cargar proveedores</a>
    </p>
    <div class="row-fluid tablaIndex">
        <div class="span12">
            <table class="table table-bordered table-striped table_vam" id="dt_gal">
                <thead>
                    <tr>

                        <th>Dependencia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                                @Html.HiddenFor(modelItem => item.id)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.id })" class="sepV_a" title="Editar"><i class="icon-pencil"></i></a>
                                <span>| </span><a href="#" class="sepV_a" title="Editar"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">X</button>
        <h3 id="msgHeader">Error</h3>
    </div>
    <div class="modal-body" id="msgBody">
        La dependencia "Porteria" no se puede eliminar
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal" id="btnFail">Cerrar</a>
    </div>
</div>
<script>
    $('#dt_gal').dataTable();

    $('.tablaIndex').click(function (e) {
        if (e.target.tagName == "I") {

            //var item = this;
            var id = $(e.target.parentNode.parentNode.parentNode.children[0]).find('input').val();
            var dependencia = e.target.parentNode.parentNode.parentNode.children[0].textContent.trim();

            if (dependencia != "Porteria") {
                var link = '@Url.Action("Delete", new { id = "-1" })';
                link = link.replace("-1", id);

                window.location.href = link;
            }
            else {
                $('#myModal').modal('show');
            }
        }
    });
</script>

