@model IEnumerable<Orkidea.RinconCajica.webFront.Models.vmMessageBitacoreReport>

@{
    ViewBag.Title = "ReporteGeneral";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>ReporteGeneral</h2>@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Styles.Render("~/content/DataTables")
@Scripts.Render("~/bundles/DataTables")
<h2>Sistema de gestión - Reporte general de correspondencia</h2>

<div class="row-fluid">
    <div class="span12">
        <p>
            @Html.ActionLink("Volver al Home", "Index", "HomeSGC")
        </p>
        <br />
        <table class="table table-bordered table-striped table_vam tabla" id="dt_gal">
            <thead>
                <tr>
                    <th>Tipo
                    </th>
                    <th>ID
                    </th>
                    <th>Fecha tramite
                    </th>
                    <th>Origen
                    </th>
                    <th>Destino
                    </th>
                    <th>Personalmente
                    </th>
                    <th>Prioridad
                    </th>
                    <th>Documento
                    </th>                    
                    <th>Fecha Limite
                    </th>
                    <th>Enviado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{ string tipo = item.tipoRegistro == "I" ? "In" : "Out";}
                            @tipo
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idRegistro)
                        </td>
                        <td>
                            @item.fecha.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.origen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.destino)
                        </td>
                        <td>
                            @{string personal = "";}
                             @if (item.tipoRegistro != "I")
                            {
                                personal = item.entregaPersonal ? "Si" : "No";
                            }
                            @personal
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prioridad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcionCorta)
                        </td>                        
                        <td>
                            @{string fecha = item.fechaLimite == null ? "" : ((DateTime)item.fechaLimite).ToString("yyyy-MM-dd");}
                            @fecha
                        </td>
                        <td>
                            @{string enviado = "";}
                            @if (item.tipoRegistro != "I")
                            {
                                enviado = item.enviado ? "Si" : "No";
                            }
                            @enviado
                        </td>
                        <td>
                            @if (item.tipoRegistro != "I")
                            {
                                if (!item.enviado)
                                {
                                <a href="javascript:void(0)" title="Marcar como enviado"><i class="icon-ok"></i></a>
                                }
                            }
                        </td>
                    </tr>
 
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">X</button>
        <h3 id="msgHeader">Error</h3>
    </div>
    <div class="modal-body" id="msgBody">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal" id="btnFail">Cerrar</a>
    </div>
</div>

<script>
    $('#dt_gal').dataTable();

    $('.tabla').click(function (e) {
        var columna = e.target;
        if (columna.className == "icon-ok")
        {
            var fila = columna.parentNode.parentNode.parentNode;
            var tipoEnvio = fila.children[0].textContent.trim();
            var idDoc = fila.children[1].textContent.trim();
            var id = idDoc + "|" + tipoEnvio;

            var link = '@Url.Action("Enviado", new { id = "-1" })';
            link = link.replace("-1", id);

            $.getJSON(link, null, res);

            function res(data) {
                if (data == "OK")
                    location.reload();
                else {
                    $('#msgBody').html(data);
                    $('#myModal').modal('show');
                }
            }
        }
    });
</script>
