@model Orkidea.RinconCajica.Entities.Process

@{
    ViewBag.Title = "Mapa de procesos";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}
<script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>
<div>
    <h2>Sistema de gestion - Mapa de procesos</h2>
    <div class="row-fluid">
        <div style="float: left; width:12%">
            <div style="float: left;" class="MPro">
                <a href="@Url.Action("Details", "Process", new { id = 1 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                    <img src="@Url.Content("~/Images/off01.png")" class="imgNormal" style=" width:100%" />
                    <img src="@Url.Content("~/Images/on01.png")" class="imgSelected" style="width:100%;display: none" />
                </a>
            </div>
        </div>
        <div style="float: left; width:74%">
            <div class="row-fluid">
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 2 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off02.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on02.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 3 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off03.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on03.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 4 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off04.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on04.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 5 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off05.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on05.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div style="float: left; width:100%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 6 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off06.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on06.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div style="float: left; width:100%">
                    <div style="float: left;">                        
                            <img src="@Url.Content("~/Images/off07.png")" class="imgNormal" style=" width:100%" />                                                    
                    </div>
                </div>                
            </div>
            <div class="row-fluid">
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 7 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off08.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on08.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 12 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off09.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on09.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 8 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off10.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on10.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
                <div style="float: left; width:50%">
                    <div style="float: left;" class="MPro">
                        <a href="@Url.Action("Details", "Process", new { id = 9 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                            <img src="@Url.Content("~/Images/off11.png")" class="imgNormal" style=" width:100%" />
                            <img src="@Url.Content("~/Images/on11.png")" class="imgSelected" style="width:100%;display: none" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: left; width:12%">
            <div style="float: left;" class="MPro">
                <a href="@Url.Action("Details", "Process", new { id = 13 })" style="padding: 0px 0px 0px 0px; background-color: white;">
                    <img src="@Url.Content("~/Images/off12.png")" class="imgNormal" style=" width:100%" />
                    <img src="@Url.Content("~/Images/on12.png")" class="imgSelected" style="width:100%;display: none" />
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.MPro').mouseenter(function () {
        var div = this;
        $(this).find('.imgNormal').css('display', 'none');
        $(this).find('.imgSelected').css('display', 'inline');
    });

    $('.MPro').mouseleave(function () {
        var div = this;
        $(this).find('.imgNormal').css('display', 'inline');
        $(this).find('.imgSelected').css('display', 'none');
    });
</script>
